<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Gerenciar Usuários, Produtos e Vendas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container mt-5">
        <ul class="nav nav-tabs" id="adminTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="usuarios-tab" data-bs-toggle="tab" href="#gerenciar-usuarios" role="tab" aria-controls="gerenciar-usuarios" aria-selected="true">Gerenciar Usuários</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="produtos-tab" data-bs-toggle="tab" href="#gerenciar-produtos" role="tab" aria-controls="gerenciar-produtos" aria-selected="false">Gerenciar Produtos</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="vendas-tab" data-bs-toggle="tab" href="#analisar-vendas" role="tab" aria-controls="analisar-vendas" aria-selected="false">Analisar Vendas</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pedidos-tab" data-bs-toggle="tab" href="#visualizar-pedidos" role="tab" aria-controls="visualizar-pedidos" aria-selected="false">Visualizar Pedidos</a>
            </li>
        </ul>
        <div class="tab-content" id="adminTabContent">
            <div class="tab-pane fade show active" id="gerenciar-usuarios" role="tabpanel" aria-labelledby="usuarios-tab">
                <h2 class="mt-4">Gerenciar Usuários</h2>
                <!-- Formulário de Banir Usuário -->
                <form method="POST" action="{{ url_for('user.suspend_user') }}" class="mb-3">
                    <div class="mb-3">
                        <label for="cpf_banir" class="form-label">CPF do Usuário</label>
                        <input type="text" class="form-control" id="cpf_banir" name="cpf" placeholder="Digite o CPF" required>
                    </div>
                    <button type="submit" class="btn btn-danger">Banir</button>
                </form>

                <!-- Formulário de Desbanir Usuário -->
                <form method="POST" action="{{ url_for('user.unsuspend_user') }}" class="mb-3">
                    <div class="mb-3">
                        <label for="cpf_desbanir" class="form-label">CPF do Usuário</label>
                        <input type="text" class="form-control" id="cpf_desbanir" name="cpf" placeholder="Digite o CPF" required>
                    </div>
                    <button type="submit" class="btn btn-success">Desbanir</button>
                </form>
            </div>
            <div class="tab-pane fade" id="gerenciar-produtos" role="tabpanel" aria-labelledby="produtos-tab">
                <h2 class="mt-4">Gerenciar Produtos</h2>
                <!-- Formulário de Criação de Produto -->
                <form method="POST" action="{{ url_for('product.create_product') }}" class="mb-3">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" class="form-control" id="descricao" name="descricao" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Preço</label>
                        <input type="number" class="form-control" id="price" name="price" step="0.01" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Criar Produto</button>
                </form>

                <!-- Formulário de Edição de Produto -->
                <form method="POST" action="{{ url_for('product.edit_product') }}" class="mb-3">
                    <div class="mb-3">
                        <label for="nome_edit" class="form-label">Nome do Produto</label>
                        <input type="text" class="form-control" id="nome_edit" name="nome_edit" required>
                    </div>
                    <div class="mb-3">
                        <label for="descricao_edit" class="form-label">Nova Descrição</label>
                        <input type="text" class="form-control" id="descricao_edit" name="descricao_edit" required>
                    </div>
                    <div class="mb-3">
                        <label for="price_edit" class="form-label">Novo Preço</label>
                        <input type="number" class="form-control" id="price_edit" name="price_edit" step="0.01" required>
                    </div>
                    <button type="submit" class="btn btn-warning">Editar Produto</button>
                </form>

                <!-- Formulário de Exclusão de Produto -->
                <form method="POST" action="{{ url_for('product.delete_product') }}" class="mb-5">
                    <div class="mb-3">
                        <label for="nome_delete" class="form-label">Nome do Produto</label>
                        <input type="text" class="form-control" id="nome_delete" name="nome" required>
                    </div>
                    <button type="submit" class="btn btn-danger">Excluir Produto</button>
                </form>
            </div>
            <div class="tab-pane fade" id="analisar-vendas" role="tabpanel" aria-labelledby="vendas-tab">
                <h2 class="mt-4">Análise de Vendas</h2>
                <form id="salesAnalysisForm" class="mb-3">
                    <div class="mb-3">
                        <label for="data_inicio" class="form-label">Data de Início</label>
                        <input type="date" class="form-control" id="data_inicio" name="data_inicio" required>
                    </div>
                    <div class="mb-3">
                        <label for="data_fim" class="form-label">Data de Fim</label>
                        <input type="date" class="form-control" id="data_fim" name="data_fim" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Analisar</button>
                </form>
                <canvas id="salesChart" width="400" height="200"></canvas>
                <div id="resultado-analise">
                    <!-- Resultados da análise de vendas serão exibidos aqui -->
                    <h3>Resultados da Análise de Vendas</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Total de Vendas</th>
                                <th scope="col">Média de Vendas</th>
                                <th scope="col">Contagem de Vendas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="totalSales"></td>
                                <td id="averageSales"></td>
                                <td id="salesCount"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="visualizar-pedidos" role="tabpanel" aria-labelledby="pedidos-tab">
                <h2 class="mt-4">Visualizar Pedidos</h2>
                <div id="ordersContainer">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID do Pedido</th>
                                <th scope="col">CPF</th>
                                <th scope="col">Itens</th>
                                <th scope="col">Preço Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Data de Criação</th>
                                <th scope="col">Data de Pagamento</th>
                            </tr>
                        </thead>
                        <tbody id="ordersTableBody">
                            <!-- Os pedidos serão carregados aqui -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function loadOrders() {
            fetch('/listarTodosPedidos')
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        document.getElementById('ordersContainer').innerHTML = `<p style="color:red;">Erro: ${data.error}</p>`;
                    } else {
                        const ordersTableBody = document.getElementById('ordersTableBody');
                        ordersTableBody.innerHTML = '';
                        data.forEach(order => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${order._id}</td>
                                <td>${order.cpf}</td>
                                <td>${order.itens.map(item => `${item.nome} (R$ ${item.price})`).join(', ')}</td>
                                <td>R$ ${order.total_price.toFixed(2)}</td>
                                <td>${order.status}</td>
                                <td>${new Date(order.created_at).toLocaleString('pt-BR')}</td>
                                <td>${order.paid_at ? new Date(order.paid_at).toLocaleString('pt-BR') : 'N/A'}</td>
                            `;
                            ordersTableBody.appendChild(row);
                        });
                    }
                })
                .catch(error => {
                    console.error('Erro ao carregar os pedidos:', error);
                    document.getElementById('ordersContainer').innerHTML = `<p style="color:red;">Erro ao carregar pedidos.</p>`;
                });
        }

        document.getElementById('pedidos-tab').addEventListener('click', loadOrders);
    </script>
</body>
</html>
