<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <nav>
        <p>Comida</p>
        <p>Bebidas</p>
        <p>Promoções1</p>
    </nav>
    <section>
        <!-- cads -->
    </section>

    <footer>
<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum et dicta assumenda quisquam quo numquam corrupti ipsa excepturi facere, labore minima tempore fugiat, veritatis voluptates est rerum? Modi, corporis hic! -->
    </footer>
</body>
</html>