
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
  </head>
  <body>
    <form method="post">
      <div>
        <label for="cpf">CPF</label>
        <input type="text" name="cpf" id="cpf">
      </div>
      <div>
        <label for="password">Senha</label>
        <input type="password" name="password" id="password">
      </div>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
